<a href="" ui-sref="list({id: item.list.id})"><< my list</a>
<br>
<br>
<img src="{{item.image}}" class="show-img img-rounded"> <br>
<form ng-submit="update()">
  name:<input type="text" ng-model="item.name" placeholder="{{item.name}}" /><br>
  $<input type="text" ng-model="item.price" placeholder="{{item.price}}" /><br>
  url:<input type="text" ng-model="item.url" placeholder="{{item.url}}" /><br>
  notes:<input type="text" ng-model="item.notes" placeholder="{{item.notes}}" /><br>
  <input type="submit" value="edit item" />
</form>
<br>