<div class="friends-events">
  <h4>these are your friends' events</h4>
  <ul>
    <li ng-repeat="event in upcomingEvents | orderBy:'date'">
      <event name="event.name" username="event.username" date="event.date"></event>
    </li>
  </ul>
</div>

<div class="my-events">
  <h4>these are your events</h4>
  <ul>
    <li ng-repeat="eve in currentUser.events | orderBy:'date'">
      <event name="eve.name" username="eve.username" date="eve.date"></event>
    </li>
  </ul>
</div>

<div class="create-event">
  create a new event <br>
  <form ng-submit="createEvent()">
    <input type="text" name="name" placeholder="name" ng-model="new_event.name" /><br>
    <input type="date" name="date" ng-model="new_event.date" /><br>
    <input type="submit" />
  </form>
</div>
