<div class="my-friends">
  <h4>my friends</h4>
  <ul>
    <li>change this to ui-sref="list({id: friend.list.id})" once currentUser issue figured out</li>
    <li ng-repeat="friend in currentUser.friends">
      <a href="" ui-sref="list({id: friend.id})" ng-bind="friend.username"></a>
    </li>
  </ul>
</div>

<div class="search-friends">
  <h4>search users</h4>
  <form ng-submit="userSearch()">
    <input type="text" placeholder="by username" ng-model="searchCriteria">
    <input type="submit">
  </form>
  <table>
    <tr ng-repeat="user in searchedUsers">
      <td>user profile pic -- </td>
      <td><span ng-bind="user.username"></span></td>
      <td ng-if="!alreadyFriend(user)"><button ng-click="requestFriend(user)"> send friend request</button></td>
    </tr>
  </table>
</div>