<div class="my-list">
  <h4><span ng-bind="viewUser.username"></span>'s list</h4>
  <table style="padding-left: 10px;">
    <tr>
      <th>item name</th>
      <th>external url</th>
    </tr>
    <tr ng-repeat="item in viewUser.list.items">
      <td ng-bind="item.name"></td>
      <td ng-bind="item.url"></td>
      <td><a ui-sref="itemEdit({id: item.id})">view/edit</a></td>
      <td><a href="" ng-click="deleteItem(item)">delete</a></td>
    </tr>
  </table>

  <!-- novalidate as attr in below form? -->
  <form ng-submit="createItem(new_item)">
    <input value="item name" ng-model="new_item.items.name"></input>
    <input value="reference url" ng-model="new_item.items.url"></input>
    <input type="submit" value="add item"></input>
  </form>
</div>
