<div class="header row">
  <div class="col col-md-12 well">
      <div ng-if="!currentUser" ng-controller="loginController as loginCtrl">
        <h1 id="logo">Presently</h1>
        <form ng-submit="login()">
          <input type="text" name="username" placeholder="username" ng-model="user.username" />
          <input type="email" name="email" placeholder="email" ng-model="user.email" />
          <input type="password" name="password" placeholder="password" ng-model="user.password" />
          <input type="submit" value="log in" />
        </form>
      </div>
  </div>
</div>

<div class="container">
  <div ng-include="'views/navbar.html'"></div>
  <ui-view></ui-view>
</div>

