<!DOCTYPE html>
<html>
  <head>
    <title>Presently</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="app">
    <%= yield %>
  </body>
  <div class="footer row">
    <div class="col col-md-12">
      <ul class="list-inline">
        <li>© 2016 James D. Rogers</li>
      </ul>
    </div>
  </div>
</html>
