<!DOCTYPE html>
<html>
  <head>
    <title>Presently</title>
    <%= csrf_meta_tags %>
<link rel="stylesheet" media="all" href="/assets/jds.self-dd910a9fe9af65657ec2dfc9ffd8aaa00f732667593d5089bbe619a8a1a9d38d.css?body=1">
<link rel="stylesheet" media="all" href="/assets/application.self-ecd33164dc3cc2599ae005abaf0f9f38ec45599eef53b12419b1d1d29d96a351.css?body=1">
<script src="/assets/jquery/dist/jquery.self-355640bfbbb3239b9bb16d6795e41d526eeffc2eff3253d494fa3f58e2c3177c.js?body=1"></script>
<script src="/assets/angular/angular.self-7f8df3e3ebe7623e233b951726e7da238883fa9e7a98b987ac7aecccf5f00510.js?body=1"></script>
<script src="/assets/angular-devise/lib/devise.self-633c6de0b47e944b4aab238ff501621349023b511d73dd13f10a376b89ea1a1b.js?body=1"></script>
<script src="/assets/angular-messages/angular-messages.self-d87fbcfae3aa5362486e862d48ec9c8f7552c91124ac287fc2a49017ef6ddb91.js?body=1"></script>
<script src="/assets/angular-ui-router/release/angular-ui-router.self-484535be11e46ece5dc912bd59058bcbc03a48c1d76790d4a75d383375db7e35.js?body=1"></script>
<script src="/assets/angular-resource/angular-resource.self-c1f038d63d4a7f5c3f49e218cc670132decbbb4049cc722ac83c4d0b2786cad4.js?body=1"></script>
<script src="/assets/bootstrap/transition.self-6ad2488465135ab731a045a8ebbe3ea2fc501aed286042496eda1664fdd07ba9.js?body=1"></script>
<script src="/assets/bootstrap/alert.self-742145c5bb847aafdadc6e339be795628f8bc25f177e851f03a8c42278eb0312.js?body=1"></script>
<script src="/assets/bootstrap/button.self-126ac9bf0e7f2d8568f8da3a00fd5f0fac6eae0946331003370161fbf8d7975e.js?body=1"></script>
<script src="/assets/bootstrap/carousel.self-e47323f363ceb3dc0bdbce05e36e709ed428e339833a41140a85cb0af24b8127.js?body=1"></script>
<script src="/assets/bootstrap/collapse.self-2eb697f62b587bb786ff940d82dd4be88cdeeaf13ca128e3da3850c5fcaec301.js?body=1"></script>
<script src="/assets/bootstrap/dropdown.self-561cca1cbaf67474e01e9536f106bad541594860a6df997004591c1c1957a147.js?body=1"></script>
<script src="/assets/bootstrap/modal.self-3e78617ade5663314b7ee0ea10375a5b34d59ffbade44939e3f2a4e4ef2019b3.js?body=1"></script>
<script src="/assets/bootstrap/tab.self-5bf7078b682f8b131332eefa46b45fa5eff2eca745fc0d03e2991450888f7c28.js?body=1"></script>
<script src="/assets/bootstrap/affix.self-6d6f1a7fc5c8aabf3547fa1b794fab6268f54bc55ad815e55873c71f52513517.js?body=1"></script>
<script src="/assets/bootstrap/scrollspy.self-969f3c5f48cdf1e439c7fa1154c13b948715f5c689f87837c0b64521d3b46ef6.js?body=1"></script>
<script src="/assets/bootstrap/tooltip.self-05afb177e08f98997ccfc84fa08a215e4b27d48d5fe4d049080675e9dffd8199.js?body=1"></script>
<script src="/assets/bootstrap/popover.self-0aa93860b59fe7393f1dd490f54b3cb994f9d6155adffce034d4e14ae361b041.js?body=1"></script>
<script src="/assets/bootstrap-sprockets.self-fbfa5ad7d9aa0afe439ec4ff3883acc4cb92b62cb67c40d674320c9aa1d4642d.js?body=1"></script>
<script src="/assets/moment/moment.self-34da66f0997d145341cfb3fc71c794ea32b4c6affa3ff5d9e7e5107170125d1c.js?body=1"></script>
<script src="/assets/angular-rails-templates.self-52d79f1367a1ff2e72f1cd78cc95c253add68974791e5006f7cc711cd715aa52.js?body=1"></script>
<script src="/assets/ngInfiniteScroll/build/ng-infinite-scroll.self-9c73e766288bcf56625672bba20f9cf543390e6700941f3404d58c75a5ec47cb.js?body=1"></script>
<script src="/assets/ng-file-upload/ng-file-upload.self-49489246d63a5d6be3390bf224092c8d04da729ddb16de1bec1a188e4119b6c7.js?body=1"></script>
<script src="/assets/ng-file-upload-shim/ng-file-upload-shim.self-577f9e4dd86caa5f528ab6b1262125e7c916552e136e13b4e6b17b139f338671.js?body=1"></script>
<script src="/assets/app.self-7a650c8231a2c36c879c03898415a447df18c1a50d91e55f55fd3a40647825da.js?body=1"></script>
<script src="/assets/action_cable.self-1641ec3e8ea24ed63601e86efcca7f9266e09f390e82199d56aa7e4bd50e1aa9.js?body=1"></script>
<script src="/assets/cable.self-6e0514260c1aa76eaf252412ce74e63f68819fd19bf740595f592c5ba4c36537.js?body=1"></script>
<script src="/assets/components/eventComponent.self-b4ae0ab9d834c96667086ab8bb3a837595431d702c7eee3785630e488490f295.js?body=1"></script>
<script src="/assets/components/purchaseComponent.self-c7402b5f4d3eb070e611bd876a07352af8b8e79f355b0700a08c4221aa3e757b.js?body=1"></script>
<script src="/assets/controllers/editProfileController.self-a69ba9c99f3067bc78026f70f1c534a16f74886929c19ff75e1bbcee0ab88296.js?body=1"></script>
<script src="/assets/controllers/eventController.self-e6731e13290b3eec8a1fdf54dde91e9102dd802764e48714274ced141690018e.js?body=1"></script>
<script src="/assets/controllers/friendshipController.self-9646727763204ff868ee7ba3b10c587f4935312c8e7a7eb79d19045fe6c5db7f.js?body=1"></script>
<script src="/assets/controllers/itemController.self-3a41249eb19e2182b6e6dc26925ed7eaeff37f6c6b358007135756ca5c5e59ff.js?body=1"></script>
<script src="/assets/controllers/listController.self-66946078e5beff6f27ddcf36d2faea0f05291dc126539e8ca84a9ea29589bd42.js?body=1"></script>
<script src="/assets/controllers/loginController.self-06afe0a84309b9e289058a9056285b2a45403baf4ee406d92d830fb909870349.js?body=1"></script>
<script src="/assets/controllers/navbarController.self-1a200256edcf36b3740865d81116934c1e9f2e6f43ec394589910c21752bbddf.js?body=1"></script>
<script src="/assets/controllers/profileController.self-a47e3cc7cee31b042168f5148b4592336babe90c8ccf39e2ff0751f7daca731e.js?body=1"></script>
<script src="/assets/controllers/purchaseController.self-37ab9a00b8c35d108d55fdff581f28c404617c4223901df0e5d37e7644f494df.js?body=1"></script>
<script src="/assets/directives/listDirective.self-a81b79fc870b9b3c252d9830367561fe228c80cb239ea6015811c7996dcfb56f.js?body=1"></script>
<script src="/assets/directives/listScroll.self-9e6146793e01f4248e8ccb6f49d9a39c38b009431de906847979949ed9faefe0.js?body=1"></script>
<script src="/assets/factories/eventFactory.self-38acbab148bfcd9734076642809e30c7bdc5410d633cb589d1214c31cdeccbdc.js?body=1"></script>
<script src="/assets/factories/friendshipFactory.self-1c14b2f7d9c01d1909f2f8966eab1fcee3538939212ee35169df78e2c6b7bf9d.js?body=1"></script>
<script src="/assets/factories/itemFactory.self-89e2e56df80046547b30365f39911ef1ae4c74b9d653d891c2d639e753863493.js?body=1"></script>
<script src="/assets/factories/listFactory.self-dfad454ad3bb706595b9f2093123f40dc788f46c38980fd12264410a22ea9918.js?body=1"></script>
<script src="/assets/factories/userFactory.self-7a3ee3a216d9dc98204135ef26318ca2c5cd1a8e6941e2cd44bf1484df00d809.js?body=1"></script>
<script src="/assets/filters/alreadyFriendFilter.self-0f49cdc50974071edb24aaa20fab167a5bcab5f99e9d5e46c58cbfd732e78156.js?body=1"></script>
<script src="/assets/filters/byUsernameFilter.self-ea2742b367dc6a698bc8874746980932bb3f8ed964dab756f755e31df6615b0f.js?body=1"></script>
<script src="/assets/routes.self-f7e043b862f9ca766f9ef83af5421c24b32c8ddd3ddc1bf914e49bd35647b699.js?body=1"></script>
<script src="/assets/views/editProfile.self-24038029598ab15190f9bd79914e9fbaa486f862c8040ddd89f2b8d5a70c2700.js?body=1"></script>
<script src="/assets/views/events.self-66cbc869cb09562a2b2c6cb02a0e5675adf1e478914bf4d61514fbbbdb2a8880.js?body=1"></script>
<script src="/assets/views/friends.self-6c2b94a3c08046236a695724f7610df9636c0035dd94016923c9fc490e07ffd7.js?body=1"></script>
<script src="/assets/views/items/edit.self-f836f358bbb0538b847c093cc1e216ec6029199938181786f12c5b817a3ef15d.js?body=1"></script>
<script src="/assets/views/items/show.self-2768b56ffc7d52f45a3629ebbc78f5d6972358de13d6261d2b412b050e78ff41.js?body=1"></script>
<script src="/assets/views/list.self-320a6a9fb7b04a638daa7cf30e73cdd935e75735f247a8ec3cf017abfd7e88bf.js?body=1"></script>
<script src="/assets/views/login.self-35a28b3e6e344bf91eb3977fcfe1fc270c5469ee8a9fd456e097d61934636e87.js?body=1"></script>
<script src="/assets/views/loginMsgs.self-93758eafd22036545107a10b806bfcb8be879c0a69186326535b5d0a92a27f47.js?body=1"></script>
<script src="/assets/views/navbar.self-ae516e025d4d941ddedb0027cb653806111921d820987249b1aceede1a707965.js?body=1"></script>
<script src="/assets/views/profile.self-ea84d272ba38b0bda592b2d05181791fa99dd8a2a6bd1148f45899ca1356ab55.js?body=1"></script>
<script src="/assets/views/purchases.self-37cd879c0194371b15b6bf6504a463f731eaeac24bef310576e9e6a54af71336.js?body=1"></script>
<script src="/assets/application.self-fbab4d302c9599be8091b1f3a8f7b93ce7724d906dbd695870961a602526ce63.js?body=1"></script>
<!--     <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %> -->
  </head>

  <body ng-app="app">
    <%= yield %>
  </body>
</html>
