<div class="well">
  <div class="row">
    <div class="col col-md-6">
      <h4><span ng-bind="viewUser.username"></span>'s profile</h4>
      <ul class="list-unstyled">
        <li><img ng-src="{{viewUser.image}}" class="img-circle show-img"></li>
        <li ng-bind="viewUser.email"></li>
        <li ng-bind="viewUser.aboutme"></li>
        <li ng-bind="viewUser.bday"></li>
      </ul>
      <button ng-if="userEqualsOwner()" ui-sref="userProfileEdit({id: currentUser.id})">edit profile</button>
    </div>

    <div class="col col-md-6">
      <div id="usersEvents">
        <h4><span ng-bind="viewUser.username"></span>'s events</h4>
        <ul class="list-unstyled">
          <li ng-repeat="event in viewUser.events | orderBy:'date'"><event name="event.name" username="event.username" date="event.date" id="event.id"></event></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6">
      <div class="list">
        <h4><span ng-bind="viewUser.username"></span>'s wish list</h4>
        <table class="table table-striped">
          <tr>
            <th></th>
            <th>name</th>
            <th>price</th>
            <th>notes</th>
            <th>external url</th>
            <th ng-if="!userEqualsOwner()">purchaser</th>
          </tr>
          <tr ng-repeat="item in viewUser.list.items | orderBy:'name'">
            <td><img ng-src="{{item.image}}" class="img-rounded mini-img"></td>
            <td ng-bind="item.name"></td>
            <td>$<span ng-bind="item.price"></span></td>
            <td ng-bind="item.notes"></td>
            <td ng-bind="item.url"></td>
            <td ng-if="!userEqualsOwner()">
              <span ng-if="item.purchaser" ng-bind="item.purchaser.username"></span>
              <span ng-if="currentUser.id == item.purchaser.id"><a href="" ng-click="unpurchase(item)">unpurchase</a></span>
              <span ng-if="!item.purchaser">none - <a href="" ng-click="purchase(item)">purchase</a></span>
              <span><a ui-sref="listItemShow({list_id: viewUser.list.id, item_id: item.id})">view</a></span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col col-md-6">
      <div class="users-friends">
        <h4><span ng-bind="viewUser.username"></span>'s friends</h4>
        <ul class="list-unstyled">
          <li ng-repeat="friend in viewUser.friends | orderBy:'username'">
            <img ng-src="{{friend.image}}" class="img-circle mini-img">
            <a href="" ng-if="alreadyFriend(friend)" ui-sref="userProfile({id: friend.id})" ng-bind="friend.username"></a>
            <span ng-if="!alreadyFriend(friend)" ng-bind="friend.username"></span>
            <a ng-if="userEqualsOwner()" href="" ng-click="unfriend(friend)">unfriend</a>
            <a ng-if="!alreadyFriend(friend)" href="" ng-click="requestFriend(friend)"> add friend</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



